<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja Page</title>
</head>
<body>
    <form action="/ninja" method="POST">
    <input type="text" name="name" placeholder="please input ninjas name">
    <input type='text' name = 'age' placeholder="please input ninja age">
    <select name="belt">
        <option value = 'red'>red</option>
        <option value = 'black'>black</option>
    </select>
    <input type="submit" value="Submit the ninja">
    </form>
</body>
</html>