*{
  margin: 0;
  padding: 0;
  background-color: rgb(150, 143, 84);
}

.title{
  text-align: center;
  font-size: 80px;
}
.navcomponent{
  display: inline-block;
  background-color: rgb(194, 194, 194);
  height: 800px;
  min-width: 20%;
  vertical-align: top;
}

app-hat-carousel,app-newhat{

    display: inline-block;
    height: 800px;
    min-width: 80%;
    background-color: rgb(58, 58, 58);

}
