<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODE!</title>
</head>
<body>
    <h1>Bad SErver</h1>
    <form action= "/stuff" method="POST">
        <input type="submit" value="">
    </form>
</body>
</html>